
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

Header set Access-Control-Allow-Origin: "*"

SetEnv MYSQL_SRV localhost
SetEnv MYSQL_USER root
SetEnv MYSQL_PSW BackEnd1234--
SetEnv MYSQL_DB online-library